.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 8px;
  align-items: flex-start;
  flex: 1 0 0;
  min-width: 0;
}

.product-info__title,
.product-info__price {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-info__title{
  min-width: 73px;
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  margin: 0;
  line-height: 100%;
  letter-spacing: -0.4px;
}

.product-info__price{
  min-width: 80px;
  font-size: 18px;
  font-weight: 800;
  height: 18px;
  margin: 0;
  line-height: 100%;
letter-spacing: -0.36px;
}