.SignInForm__inputs {
  width: 332px;
  height: 220px;
  padding: 24px 24px 64px 24px;
  line-height: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormButton {
  position: relative;
  z-index: 10;
  margin-top: -22px;
}
