.App {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* .App > *:first-child {
  grid-column: 1 / -1;
} */
